# Maven / Java
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/.mvn/timing.properties

# IDEA
.idea/
.classpath
.project
.settings/
.vscode/

# Node / React
/node_modules/
/em-project-view/node_modules/
/dist/
/build/
.env

# Logs
/logs/
*.log

# OS files
Thumbs.db
.DS_Store

# Others
/.history/
/*.iml
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
